passagemath-standard[cliquer,cmr,fricas,frobby,gfan,giac,giac,kenzo,latte,4ti2,msolve,qepcad,rankwidth,rubiks,sympow,database-cunningham,database-jones-numfield,database-kohel,database-odlyzko-zeta,database-stein-watkins-mini,database-symbolic-data]
